body {
    min-width: 850px;
    height: 100vh;
    margin: 0;

    background-color: #343478;
    font-family: "Consolas", monospace;
    color: #CFBC82;

    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;
}

.content {
    max-width: 1000px;
    max-height: 500px;
    margin: 50px;
    border: 2px solid #CFBC83;
    border-radius: 25px;

    background-color: #21216C;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 40px 80px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title h1 {
    margin: 0px 100px 0px 100px;
    font-size: 80px;
}
.title p {
    text-align: center;
}

.buttons {
    width: -webkit-fill-available;
    min-height: 60px;
    max-height: 105px;

    display: flex;
    justify-content: center;
    gap: 60px;

    font-size: 35px;
    font-family: "Consolar", monospace;
    font-weight: bold;

    background-color: #CFBC83;
    color: #9A7B1D;   
}

.start-button {
    width: -webkit-fill-available;
    height: 60px;
    border: 0;

    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;

    background-color: rgba(0, 0, 0, 0);
}
.start-button:hover {
    background-color: #AB8F39;
    color: #21216C;
}

.item-button {
    width: 100px;
    height: 80px;
    margin: 10px;

    color: inherit;
    font: inherit;
    font-size: medium;

    background-color: inherit;
    border: 2px solid #21216C;
    border-radius: 10px;
}

.item-button:hover {
    background-color: #AB8F39;
}

.item-button img {
    width: 55px;
    height: auto;
}

.hint {
    margin-bottom: 40px;
}

footer {
    min-height: 40px;
    padding: 10px;
    box-sizing: border-box;

    background-color: #CFBC82;
    color: #886705;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}